html,
body {
  position: relative;
  height: 100%;
  max-width: 100%
}

body {
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

h1 {
  font-variant: small-caps;
}

footer {
  bottom: 0;
  height: 50px;
  padding-left: 5%;
  width: 100%;
}

footer a {
  color: #3d3d3d;
  margin-right: 5%;
}

.green {
  color: #0BE224;
}

.red {
  color: #FF4135;
}

/*Welcome Page*/

#navbar-brand {
  text-shadow: 2px 3px 0px #428bca;
}

#page_container {
  min-height: 100%;
}

#page_selection {
  text-align: center;
}

.pagination {
  vertical-align: middle;
  margin: 20px;
}

#search_input {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

#tud-brand {
  margin-top: -62px;
  position: absolute;
  right: 50px;
}

#welcome-container {
  color: #428bca;
  font-size: 10vmax;
  text-align: center;
  line-height: normal;
  max-width: 100%;
}

#toyblocks-title {
  font-variant: small-caps;
  font-size: 13vmax;
  max-width: 100%;
}

@media (min-width: 768px) {
  #welcome-gameslist .caption {
    position: relative;
    height: 260px;
  }

  #welcome-gameslist .caption a {
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 6px;
  }
}

.welcome-startglyphs {
  position: absolute;
  margin-top: 13px;
  margin-left: -10px;
  font-size: 70px;
  color: #428bca;
}

.glyphicon-cup:before {
  content: "\e075"
}

@media (min-width: 992px) {
  .col-md-20 {
    width: 20%;
  }
}

/* Admin */

.settingssaved {
  position: absolute;
  margin-top: -25px;
  margin-left: 93px;
  width: 158px;
  padding: 5px;
}

/* Moderation Navbar */

@media (min-width: 1208px) {
  .sidebar-nav-fixed {
    position: fixed;
    max-width: 175px;
  }
}

.nav-text {
  color: white;
  text-align: center;
}

.nav-nested {
  margin-left: 10px;
  font-size: 15px;
}

.form-group .preview-thumbnail {
  text-align: right;
}

.form-group .preview-thumbnail img {
  max-width: 100%;
  max-height: 140px;
}

/*Help Pages for Games*/
.helpbox {
  /*background-color: #d9edf7;/* */
  border: 40px #fff solid;
  padding: 15px;
  border-bottom: 2px #eee solid;
  position: relative;
}

.infocon {
  font-size: 31px;
  position: absolute;
  margin-top: 8px;
  margin-left: -42px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.highlight {
  font-weight: bold;
}

.highlighted {
  font-weight: bold;
}

/* Ency */

.mouseover-info {
  margin-left: 15px;
  font-size: 12px;
  color: gray;
}


/* Games*/

.question-text {
  text-align: left;
  white-space: normal;
  max-width: 100%;
  width: 80%;
  margin-left: 10px;
}

