.building {
  width: 130px;
}

.building p {
  margin: 0;
}

.building .thumbnail {
  margin-bottom: 3px;
}

.alert {
  margin: 0 30px 0 200px;
}
/*
.building img {
  width: 100px;
}*/

.picture-list {
  list-style: none;
  padding:0;
  margin:20px 0;
}
.picture-list li {
  border:1px solid #000;
  padding: 5px;
  max-width: 250px;
  display: inline-block;
}

.green{color:#0BE224;}
.red{color:#FF4135}